/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#nav {
 margin: 20px 0 0 0;
}

#nav ul li {
 display: inline;
 margin: 0 20px 0 0;
}

#nav a {
 text-decoration: none;
 color: black;
}

#nav a:hover {
 text-decoration: underline;
}

.navigation {
  padding: 5rem 0 0;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#headerImage img {
 max-width: 100%;
 height: auto;
}

